@charset "UTF-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 100%;
	background-color:#ffffff;
}

.inner {
	width: 1000px;
	margin: 5px auto;
	background-color:#F7F8F8;
	height:100%;
	display:block;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
}

ul li {
	list-style: none;
}

ul#nav-secundario {
	float: right;
	min-width: 20%;
	margin-top: 1.5%;
}

ul#nav-secundario li {
	float: left;
}

ul#nav-secundario li a{
	padding: 5px 7px;
	border: 1px solid red;
}

ul#nav-secundario li#first {
	margin-right: 2%;
	padding-right: 2%;
}

#menu-secundario {
	min-height: 50px;
}

#logo-principal img {
	border: 1px solid #000;
	width: 220px;
	height: 150px;
	position: relative;
	top: -25px;
	left: 10px;
}

#menu-principal {
	min-height: 100px;
	margin-right:10px;
}

ul#nav-principal {
	float: right;
	margin-top: 25px;
}

ul#nav-principal li,  #logo-principal {
	float: left;
}

ul#nav-principal li.last {
	margin-right: 0px;
}

ul#nav-principal li {
	margin-right: 5px;
}

ul#nav-principal li a {
	font-size: 15px;
	font-weight: 400;
	display: block;
	padding: 15px 46px;
	background-color:#C2DEDD;
	color: #419196;
	text-transform: uppercase;
	
}

#footer-secundario p {
	margin: 25px 0;
	width: 100%;
	float: left;
	font-size: 20px;
	text-align: center;
	color: #848588;
}

#footer-principal {
	min-height: 465px;
}

#footer-secundario {
	min-height: 80px;
}

.bloque-footer {
	float: left;
	margin-top: 90px;
	text-align: center;
	margin-right: 20px;
}

.bloque-footer.last{
	margin-right: 0px;
}

.bloque-footer ul li {
	margin-bottom: 10px;
	color: #848588;
}

.bloque-footer ul li a{
	color: #848588;
}

.bloque-footer h2 {
	margin-bottom: 50px;
	font-size: 22px;
	text-transform: uppercase;
	color: #419196;
}

#bloque-footer-1 {
	width: 260px;
}

#bloque-footer-2 {
	width: 355px;
}

#banner-principal {
	min-height: 340px;
}

#servicios-resumenes .servicio {
	width: 30%;
	float: left;
	min-height: 600px;
	margin-right: 20px;
	padding: 10px;
}

#servicios-resumenes .servicio img {
	min-height: auto;
	width: 100%;
}

#servicios-resumenes .servicio h3 {
	margin: 15px 0;
	text-align: center;
	min-height: 20px;
}

#servicios-resumenes .servicio h3 { 

	margin: 10px 0 15px 0;
	z-index:1;
}

#servicios-resumenes .servicio h3 a{ 
	color: #F2672D;
	padding: 10px 5px;
	display: block;
	text-transform:uppercase;
	border-bottom: 1px solid #DF4555;
}

#servicios-resumenes .servicio .detalle {
	background-color: #fff;
	padding: 30px 25px;
	border: 1px solid #ddd;
	color: #848588;
}

#servicios-resumenes .servicio .enlace {
	width: 100px;
	margin: -10px auto 0;
}

#servicios-resumenes .servicio .ver-mas {
	margin: 0 auto;
	background-color: #75C58F;
	padding: 10px 15px;
	color: #fff;
	font-weight: 600;
}

.main-content.home {
	min-height: 1300px;
	padding: 90px 0px;
}

#servicios-resumenes #servicio-3, #servicios-resumenes #servicio-6{
	margin-right: 0px;
}
